<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OST_Ecommerce</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OST_Ecommerce.styles.css" asp-append-version="true" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>

    <script src="~/js/controller/productcontroller.js"></script>
    <script src="~/js/service/productservice.js"></script>

    <script>
        $(document).ready(function () { 
            if (localStorage.getItem("UserName") != undefined && localStorage.getItem("UserName") != null) { 
                var userName = localStorage.getItem("UserName");
                $('#lblUser').html(userName);
            }
        })
        $(document).ready(function () { 
			//var pUrl = '/Product/CategoryProduct';
			ProductController.LoadProductCategory('@Url.Action("CategoryProduct", "Product")');
            ProductController.LoadCartCommon(); 
        })
    </script>
	<style>
		body {
			background: #e2eaef;
			font-family: "Open Sans", sans-serif;
		}

		h2 {
			color: #000;
			font-size: 26px;
			font-weight: 300;
			text-align: center;
			text-transform: uppercase;
			position: relative;
			margin: 30px 0 60px;
		}

			h2::after {
				content: "";
				width: 100px;
				position: absolute;
				margin: 0 auto;
				height: 4px;
				border-radius: 1px;
				background: #7ac400;
				left: 0;
				right: 0;
				bottom: -20px;
			}

		.carousel {
			margin: 50px auto;
			padding: 0 70px;
		}

			.carousel .item {
				color: #747d89;
				min-height: 325px;
				text-align: center;
				overflow: hidden;
			}

			.carousel .thumb-wrapper {
				padding: 25px 15px;
				background: #fff;
				border-radius: 6px;
				text-align: center;
				position: relative;
				box-shadow: 0 2px 3px rgba(0,0,0,0.2);
			}

			.carousel .item .img-box {
				height: 120px;
				margin-bottom: 20px;
				width: 100%;
				position: relative;
			}

			.carousel .item img {
				max-width: 100%;
				max-height: 100%;
				display: inline-block;
				position: absolute;
				bottom: 0;
				margin: 0 auto;
				left: 0;
				right: 0;
			}

			.carousel .item h4 {
				font-size: 18px;
			}

			.carousel .item h4, .carousel .item p, .carousel .item ul {
				margin-bottom: 5px;
			}

			.carousel .thumb-content .btn {
				color: #7ac400;
				font-size: 11px;
				text-transform: uppercase;
				font-weight: bold;
				background: none;
				border: 1px solid #7ac400;
				padding: 6px 14px;
				margin-top: 5px;
				line-height: 16px;
				border-radius: 20px;
			}

				.carousel .thumb-content .btn:hover, .carousel .thumb-content .btn:focus {
					color: #fff;
					background: #7ac400;
					box-shadow: none;
				}

				.carousel .thumb-content .btn i {
					font-size: 14px;
					font-weight: bold;
					margin-left: 5px;
				}

			.carousel .item-price {
				font-size: 13px;
				padding: 2px 0;
			}

				.carousel .item-price strike {
					opacity: 0.7;
					margin-right: 5px;
				}

		.carousel-control-prev, .carousel-control-next {
			height: 44px;
			width: 40px;
			background: #7ac400;
			margin: auto 0;
			border-radius: 4px;
			opacity: 0.8;
		}

			.carousel-control-prev:hover, .carousel-control-next:hover {
				background: #78bf00;
				opacity: 1;
			}

			.carousel-control-prev i, .carousel-control-next i {
				font-size: 36px;
				position: absolute;
				top: 50%;
				display: inline-block;
				margin: -19px 0 0 0;
				z-index: 5;
				left: 0;
				right: 0;
				color: #fff;
				text-shadow: none;
				font-weight: bold;
			}

			.carousel-control-prev i {
				margin-left: -2px;
			}

			.carousel-control-next i {
				margin-right: -4px;
			}

		.carousel-indicators {
			bottom: -50px;
		}

			.carousel-indicators li, .carousel-indicators li.active {
				width: 10px;
				height: 10px;
				margin: 4px;
				border-radius: 50%;
				border: none;
			}

			.carousel-indicators li {
				background: rgba(0, 0, 0, 0.2);
			}

				.carousel-indicators li.active {
					background: rgba(0, 0, 0, 0.6);
				}

		.carousel .wish-icon {
			position: absolute;
			right: 10px;
			top: 10px;
			z-index: 99;
			cursor: pointer;
			font-size: 16px;
			color: #abb0b8;
		}

			.carousel .wish-icon .fa-heart {
				color: #ff6161;
			}

		.star-rating li {
			padding: 0;
		}

		.star-rating i {
			font-size: 14px;
			color: #ffc000;
		}
	</style>
</head>
<body>
    <header style="position:fixed;top:0px;right:0px;left:0px;">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
				<i class="fa fa-bars" onclick="$('#dvLeftBarMenuWrapper').toggle()"></i>
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" >
					 OST_Ecommerce
					</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
                <div style="float:right;width:500px">
                    <div style="width;10px;height:10px;display:inline-flex;padding:0px 7px;position: relative;cursor:pointer" onclick="javascript:ProductController.ViewCart()">
                        <i class="fa fa-cart-shopping"></i> 
                        <span id="lblCartCount" style="padding:2px 5px;color:white;background:maroon;font-size: 10px;position: absolute;right: -11px;top: -10px;border-radius: 50%;">0</span>
                    </div>
                    <div style="width:100px;height:10px;display:inline-flex;padding:0px 7px;">
                        <i class="fa fa-user"></i><span id="lblUser">User Name:</span>
                    </div>
                    
                </div>
            </div>
        </nav>
    </header>
	<partial name="~/views/common/_PartialSideBar.cshtml" />
    @* @Html.Partial("~/views/common/_PartialSideBar.cshtml") *@
	<div style ="position:fixed;top:57px;left:200px;right:0px;bottom:0px;">
		<div class="container" style="height:calc(100%);overflow:auto;overflow-x:hidden">
			<main role="main" class="pb-3">
				@RenderBody()
			</main>
		</div>
	</div>
	<partial name="~/views/common/_partialviewcart.cshtml" />
	@* @Html.Partial("~/views/common/_partialviewcart.cshtml") *@
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - OST_Ecommerce - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
